<h1 class="text text-primary">Student information</h1>
    <table class="table table-danger">
        <tr>
            <th>Name</th>
            <td>
                {{ student_name }}
            </td>
        </tr>
        <tr>
            <th>DoB</th>
            <td>
                {{ student_dob }}
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                {{ student_email }}
            </td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>
                {{ student_gender }}
            </td>
        </tr>
        <tr>
            <th>Student year</th>
            <td>
                {{ student_year }}
            </td>
        </tr>
        <tr>
            <th>Major</th>
            <td>
                {{ student_major }}
            </td>
        </tr>
        <tr>
            <th>Image</th>
            <td>
                <img src="{{ student_image }}"  width="100" height="100">
            </td>
        </tr>
    </table>